<a href="https://colab.research.google.com/github/PyBeginner1/MarketCapitalization/blob/main/MarketCapitalization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [180]:
import numpy as np 
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.tree import DecisionTreeRegressor
from sklearn.neural_network import MLPRegressor
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn import metrics

import warnings
warnings.filterwarnings(action='ignore')

In [41]:
data = pd.read_csv('/content/Fortune_1000.csv')

In [42]:
data.head()

       company  rank  ...  Ticker  Market Cap
0      Walmart     1  ...     WMT      411690
1       Amazon     2  ...    AMZN     1637405
2  Exxon Mobil     3  ...     XOM      177923
3        Apple     4  ...    AAPL     2221176
4   CVS Health     5  ...     CVS       98496

[5 rows x 18 columns]

No. of rows & columns

In [43]:
data.shape

(1000, 18)

Check for null/missing values

In [44]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   company            1000 non-null   object
 1   rank               1000 non-null   int64
 2   rank_change        1000 non-null   float64
 3   revenue            1000 non-null   float64
 4   profit             998 non-null    float64
 5   num. of employees  1000 non-null   int64
 6   sector             1000 non-null   object
 7   city               1000 non-null   object
 8   state              1000 non-null   object
 9   newcomer           500 non-null    object
 10  ceo_founder        1000 non-null   object
 11  ceo_woman          1000 non-null   object
 12  profitable         1000 non-null   object
 13  prev_rank          1000 non-null   object
 14  CEO                992 non-null    object
 15  Website            1000 non-null   object
 16  Ticker             938 non-null    object
 17  Market Cap         960 non-null    object
dtypes: float64(3), int64(2), object(13)
memory usage: 140.8+ KB

In [45]:
data.isnull().sum()

company                0
rank                   0
rank_change            0
revenue                0
profit                 2
num. of employees      0
sector                 0
city                   0
state                  0
newcomer             500
ceo_founder            0
ceo_woman              0
profitable             0
prev_rank              0
CEO                    8
Website                0
Ticker                62
Market Cap            40
dtype: int64

In [148]:
print(X.shape, X_train.shape, X_test.shape)

(950, 459) (665, 458) (285, 458)

In [106]:
X.shape

(950, 10)

Check for missing values

In [107]:
X.isnull().sum()

revenue              0
profit               1
num. of employees    0
sector               0
city                 0
state                0
ceo_founder          0
ceo_woman            0
profitable           0
Market Cap           0
dtype: int64

Missing values in Target Column

In [108]:
X[X['Market Cap'].isnull()].index

Int64Index([], dtype='int64')

In [109]:
X.dtypes

revenue              float64
profit               float64
num. of employees      int64
sector                object
city                  object
state                 object
ceo_founder           object
ceo_woman             object
profitable            object
Market Cap           float64
dtype: object

Figuring out why market cap is object

In [82]:
X['Market Cap'].astype(np.float)

ValueError: ignored

We can see there are '-' in the target column

In [88]:
X['Market Cap'].replace('-', np.NaN).astype(np.float)

0       411690.0
1      1637405.0
2       177923.0
3      2221176.0
4        98496.0
         ...
955        674.1
956        590.5
957      12059.3
958       1211.8
959        302.8
Name: Market Cap, Length: 960, dtype: float64

In [93]:
X['Market Cap'].replace('-', np.NaN).isnull().sum()

10

In [112]:
X.select_dtypes('object').value_counts()

sector               city        state  ceo_founder  ceo_woman  profitable
Financials           New York    NY     no           no         yes           21
Energy               Houston     TX     no           no         yes           15
Technology           San Jose    CA     no           no         yes           10
Energy               Houston     TX     no           no         no             9
Financials           Chicago     IL     no           no         yes            7
                                                                              ..
Materials            Fort Wayne  IN     yes          no         yes            1
                     Fort Mill   SC     no           no         yes            1
                     Evansville  IN     no           no         yes            1
                     Elkhart     IN     no           no         yes            1
Aerospace & Defense  Berwyn      PA     no           no         no             1
Length: 781, dtype: int64

In [116]:
{column : len(X[column].unique()) for column in X.select_dtypes('object').columns}

{'ceo_founder': 2,
 'ceo_woman': 2,
 'city': 386,
 'profitable': 2,
 'sector': 21,
 'state': 45}

In [118]:
X['ceo_founder'].nunique()

2

In [120]:
X['ceo_woman'].nunique()

2

In [121]:
X['ceo_woman'].value_counts()

no     889
yes     61
Name: ceo_woman, dtype: int64

In [125]:
pd.get_dummies(X['sector'])

     Aerospace & Defense  Apparel  ...  Transportation  Wholesalers
0                      0        0  ...               0            0
1                      0        0  ...               0            0
2                      0        0  ...               0            0
3                      0        0  ...               0            0
4                      0        0  ...               0            0
..                   ...      ...  ...             ...          ...
945                    0        0  ...               0            0
946                    0        0  ...               0            0
947                    0        0  ...               0            0
948                    0        0  ...               0            0
949                    0        0  ...               0            0

[950 rows x 21 columns]

Preprocessing

In [169]:
def preprocess_inputs(df):
  df = df.copy()

  #drop ununsed columns
  df = df.drop(['company','newcomer', 'prev_rank', 'CEO',	'Website', 	'Ticker', 'rank',	'rank_change'], axis = 1)

  #for missing values ('-') in target, encoding
  df['Market Cap'] = df['Market Cap'].replace('-', np.NaN).astype(np.float)

  #drop missing target rows
  missing_target_rows = df[df['Market Cap'].isnull()].index
  df = df.drop(missing_target_rows, axis = 0).reset_index(drop = True)

  #fill remaining missing values
  df['profit'] = df['profit'].fillna(df['profit'].mean())

  #encoding binary columns(yes/no)
  for column in ['ceo_founder',	'ceo_woman',	'profitable']:
    df[column] = df[column].replace({'no' : 0, 'yes' : 1})

  #one-hot encoding
  for column in ['sector',	'city',	'state']:
    dummies = pd.get_dummies(df[column], prefix = column)
    df = pd.concat([df, dummies], axis = 1)
    df = df.drop(column, axis = 1)
  
  #splitting data & target
  X = df.drop('Market Cap', axis = 1)
  Y = df['Market Cap']

  #train & test split
  X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.3, shuffle = True, random_state = 1)

  #scaling
  scaler = StandardScaler()
  scaler.fit(X_train)
  X_train = pd.DataFrame(scaler.transform(X_train), index = X_train.index,  columns = X_train.columns)
  X_test = pd.DataFrame(scaler.transform(X_test), index = X_test.index,  columns = X_test.columns)
  
  return  X_train, X_test, Y_train, Y_test

In [170]:
 X_train, X_test, Y_train, Y_test = preprocess_inputs(data)

In [171]:
X

      revenue   profit  num. of employees  ...  state_VA  state_WA  state_WI
0    523964.0  14881.0            2200000  ...         0         0         0
1    280522.0  11588.0             798000  ...         0         1         0
2    264938.0  14340.0              74900  ...         0         0         0
3    260174.0  55256.0             137000  ...         0         0         0
4    256776.0   6634.0             290000  ...         0         0         0
..        ...      ...                ...  ...       ...       ...       ...
945    2007.0    274.0               9100  ...         0         0         0
946    1999.0     47.5               5100  ...         0         0         0
947    1997.4     45.5                204  ...         0         0         0
948    1996.3    -95.1               5000  ...         0         0         0
949    1990.3     39.0               2571  ...         0         0         0

[950 rows x 459 columns]

In [172]:
print(X.shape, X_train.shape, X_test.shape)

(950, 459) (665, 458) (285, 458)

In [173]:
X_train.describe()

            revenue        profit  ...      state_WA      state_WI
count  6.650000e+02  6.650000e+02  ...  6.650000e+02  6.650000e+02
mean  -4.941745e-17  1.752984e-17  ...  1.770096e-16  7.228971e-17
std    1.000753e+00  1.000753e+00  ...  1.000753e+00  1.000753e+00
min   -3.890891e-01 -1.627735e+00  ... -1.235604e-01 -1.570137e-01
25%   -3.560759e-01 -2.630379e-01  ... -1.235604e-01 -1.570137e-01
50%   -2.830086e-01 -2.000001e-01  ... -1.235604e-01 -1.570137e-01
75%   -8.492612e-02 -5.587917e-02  ... -1.235604e-01 -1.570137e-01
max    1.428774e+01  1.760714e+01  ...  8.093207e+00  6.368870e+00

[8 rows x 458 columns]

Training

Creating a dictionary of different models

In [174]:
models = {
    'Linear Regression'   : LinearRegression(),
    'Linear Regression L1': Lasso(),
    'Linear regression L2': Ridge(),
    'Decision Tree'       : DecisionTreeRegressor(),
    'Neural Network'      : MLPRegressor(),
    'Random Forest'       : RandomForestRegressor(),
    'Gradient Boosting'   : GradientBoostingRegressor()
}

for name, model in models.items():
  model.fit(X_train, Y_train)
  print(name+ ' trained!')

Linear Regression trained!
Linear Regression L1 trained!
Linear regression L2 trained!
Decision Tree trained!
Neural Network trained!
Random Forest trained!
Gradient Boosting trained!

**Results**

**Root Mean Square Error**

In [179]:
for name, model in models.items():
  y_predict = model.predict(X_test)
  rmse =np.sqrt(np.mean((Y_test-y_predict) ** 2))
  print(name+ 'RMSE {:.2f}'.format(rmse) )

Linear RegressionRMSE 10412989836944822272.00
Linear Regression L1RMSE 148364.67
Linear regression L2RMSE 150287.44
Decision TreeRMSE 122684.83
Neural NetworkRMSE 149366.65
Random ForestRMSE 91795.41
Gradient BoostingRMSE 91436.45

**R2 Squared Error**

In [184]:
for name, model in models.items():
  y_predict1 = model.predict(X_test)
  score = metrics.r2_score(Y_test, y_predict1)
  print(name + "R2 Score :{:.5f}".format(score))

Linear RegressionR2 Score :-5139649570991349529141313536.00000
Linear Regression L1R2 Score :-0.04338
Linear regression L2R2 Score :-0.07060
Decision TreeR2 Score :0.28655
Neural NetworkR2 Score :-0.05752
Random ForestR2 Score :0.60058
Gradient BoostingR2 Score :0.60370